# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit learn
3. Tesnsorflow
4. numPy

|Data Science Tools|
|------------------|
|R-Studio|
|Anaconda|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print (x)

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
minuites = 200
hours = minuites/60
print ("total hours = ",hours)

total hours =  3.3333333333333335

## Author: 
Harrish.K